*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-size:cover;
    position: relative;
    background-image: url(assets/a_01.png); 
    background-repeat: no-repeat;
    height: 135vh;
}
.nav-link {
    /* padding-right: 75px; */
    padding-left: 75px;
    color: rgb(0, 0, 0) !important;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
}
.second{
    font-weight: 900;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.right{
    font-weight: 900;
    font-family: 'Cabin Sketch', Times,serif;
    font-size: 22px;
    line-height: auto;
}
.choose{
    margin-top: 5rem;
    padding: 6rem;
}
.horizontal-stripes {  
     background: repeating-linear-gradient( 180deg, #fff, #fff 150px, #8d8e39ac 150px, #8d8e39ac 300px); 
}
.pre{
    background-size: auto;
    
    position:relative   ;
    background-repeat: no-repeat;
    background-image: url(assets/3759618_13.png);
   
}
.aft{
    background-image: url(assets/Image1_03.png);
    background-size: contain;
    position:relative   ;
    background-repeat: no-repeat;
    
    
}
.active{
    background-image: url(assets/Image2_03.png);
    background-size: contain;
    position:relative   ;
    background-repeat: no-repeat;
   
    
}

.overlay {
    position: absolute;
    top: 0;
    padding-left: 25px;
    padding-top: 15px;
    width: 100%;
    color: white;
    font-size: 20px;
    z-index: 5;
}

.overlay::before{
    content: "";
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left:0;
    bottom: 50px;
    z-index: -2;
    opacity: 0.5;
    transition: all 0.3s ease-out;
}
 .overlay::before{
    bottom: 0px;
}

.head-text{
    font-size: 20px;

}
.other-text{
  font-size: 25px;
}


.reservation{
    font-size: 30px;
    padding-left: 40px;
}
.book{
    font-weight: 900;
    font-size:65px;
    font-family: 'Cabin Sketch', Times,serif;
}

.footer{
  
    background-size:contain;
    position:relative ;
    background-repeat: no-repeat;
    background: #000000;
    background: -webkit-linear-gradient(rgba(19, 19, 21, 0.8), rgba(24, 19, 20, 0.8)), url("assets/BG-Image_03.jpg");
}
.copy{
    margin-top: 8rem;
}
.location{
    margin: 13rem 0 0 6rem;
}