@font-face {
    font-family: Handwritten;
    src: url(fonts/handwritten.ttf);
}
@font-face{
    font-family: Curly;
    src: url(fonts/cursive.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    height: 100vh;
    width: 100vw;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.overlay::before{
    content: "";
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    z-index: -2;
}
.logo{
    margin-top: 20px;
}
.number{
    font-size: 25px;
    line-height: 0;
    margin-top: 20px;
}

.exp{
    margin-right: 10px;
    font-size: 15px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: 900 !important;
    
}
.nav-link {
    padding-left: 65px;
    color: rgb(0, 0, 0) !important;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
}
.are{
    font-family: Curly;
    word-spacing: 120%;
    font-size: 80px;
}
.second{
    font-weight: 900;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.wait{
    font-size: 80px;
    font-family: Handwritten;
}

.monday{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.order{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.events{
    font-size: 60px;
    font-family: Handwritten;
    padding:0  3rem 0 3rem;
    margin-top: 2rem;
}
.choose{
    margin-top: 5rem;
    padding: 3rem;
}
.horizontal-stripes {  
     background: repeating-linear-gradient( 180deg, #fff, #fff 150px, #8d8e39ac 150px, #8d8e39ac 300px); 
}
.orderbutton{
    background-color: rgb(255,225,0) !important;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: 900 !important;
}

.right{
    font-weight: 900;
    font-family: 'Cabin Sketch', Times,serif;
    font-size: 22px;
    line-height: auto;
}
.one{
    font-size: 70px;
    font-weight: 600;
}

.horizontal-stripes {  
     background: repeating-linear-gradient( 180deg, #fff, #fff 150px, #8d8e39ac 150px, #8d8e39ac 300px); 
}


.alignedimgs{
    display: flex;
    width: 100%;
    vertical-align: middle;
}
.eve{
    flex-wrap:wrap ;
    flex: 1;
    z-index: 5;
    opacity: 0.5;
}
.eve>img{
    height:250px;
}
.eve:hover{ 
    transform: scale(1.2,1.3);
    z-index: 10;
    opacity: 1;
  
}
.lorem{
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head-text{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: 900 !important;

}
.other-text{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: 900 !important;
}


.reservation{
    font-size: 30px;
    padding-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: 900 !important;
}
.book{
    font-weight: 500;
    font-size:65px;
    font-family: Handwritten;
}

.footer{
    background-size:100vh;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/BG-Image_03.jpg");
}

@media (max-width: 767px) {
    
    .number{
        line-height: 0;
        font-size: calc(.5rem + .5vw);
    }
    .exp{
        margin-right: 2px;
        font-size: calc(.5rem + .5vw);
        margin-top: 5px;
    }
    .logo{
        height: 50%;
        margin: 0;
    }
    .order{
        font-size: 8px !important;
    }
    .nav-link {
        padding-left: 5px;
        color: rgb(0, 0, 0) !important;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        font-size: x-small !important;  
        letter-spacing: 0;
    }
    .are{
        
        font-size: calc(1.5rem + 1vw);
    }
    .wait{
        font-size: calc(1rem + 1.5vw);
    }
    .second{font-size: calc(0rem + .1vw);font-size: 10px;
    }
    .right{
        font-size: calc(.5rem + .5vw);
        margin: 0!important;
    }
    .one{
        font-size: calc(.5rem + .5vw);
    }
    .choose{
        margin: 0;
        padding: 0;
    }
    .events{
        margin: 0;
        padding: 0 !important;
        font-size: calc(1.5rem + 1.5vw);
    }
    p{
        margin: 0;
        padding: 0;
        font-size: calc(.2rem + .2vw);
    }
}